# {{ ansible_managed }}
input {
{% if logstash_input_httpd %}
  file {
    path => "/var/log/httpd/*access*log"
    type => "apache-access"
  }

  file {
    path => "/var/log/httpd/*error*log"
    type => "apache-error"
  }
{% endif %}
}

output {
  stdout { codec => rubydebug }
  redis { host => "{{ logstash_redis_ip }}" data_type => "list" key => "logstash" }
}
